<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Img-theme</title>
  </head>
  <body>
    <div class="img-theme">
      <input id="input" type="text" placeholder="请输入图片地址">
      <button id="submit">确定</button>
      <div>
        <a
          href="https://github.com/kailong321200875/some-demo/tree/master/src/views/img-theme/README.md"
          target="_blank"
          class="docs"
        >
          相关文档
        </a>
      </div>
      <img id="img" src="~@/assets/imgs/bg.jpeg" alt="">
    </div>
  </body>
</html>
