<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Img-lazy-load</title>
  </head>
  <body>
    <div>
      <img
        alt="加载"
        data-src="https://sanyuanda.oss-cn-hangzhou.aliyuncs.com/some-demo/1%20%281%29.JPG"
      >
      <img
        alt="加载"
        data-src="https://sanyuanda.oss-cn-hangzhou.aliyuncs.com/some-demo/1%20%285%29.JPG"
      >
      <img
        alt="加载"
        data-src="https://sanyuanda.oss-cn-hangzhou.aliyuncs.com/some-demo/1%20%287%29.JPG"
      >
      <img
        alt="加载"
        data-src="https://sanyuanda.oss-cn-hangzhou.aliyuncs.com/some-demo/1%20%2813%29.JPG"
      >
    </div>
  </body>
</html>
