<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Magnifier</title>
  </head>
  <body>
    <a
      href="https://github.com/kailong321200875/some-demo/tree/master/src/views/magnifier/README.md"
      target="_blank"
      class="docs"
    >
      相关文档
    </a>
    <div class="wrap">
      <!-- 小图 -->
      <div class="small-box">
        <!-- 放大镜 -->
        <div class="move-box"></div>
        <img class="small-img" src="~@/assets/imgs/bg.jpeg" alt="">
      </div>

      <!-- 展示层 -->
      <div class="big-box">
        <img class="big-img" alt="" src="~@/assets/imgs/bg.jpeg">
      </div>
    </div>
  </body>
</html>
