<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>CSS 帧动画</title>
  </head>
  <body>
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-white sidebars-wrap">
      <a
        href="/"
        class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"
      >
        <span class="fs-5 fw-semibold">一些例子</span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
            data-bs-toggle="collapse"
            data-bs-target="#home-collapse"
            aria-expanded="true"
          >
            特效相关
          </button>
          <div class="collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="frame-animation"
                >
                  CSS 帧动画
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="scroll-animation"
                >
                  滚动条过渡动画
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="lottie"
                >
                  Lottie 动画库
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="3d-banner"
                >
                  仿锤子官网 Banner 效果
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
            data-bs-toggle="collapse"
            data-bs-target="#img-collapse"
            aria-expanded="true"
          >
            图片相关
          </button>
          <div class="collapse show" id="img-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="img-theme"
                >
                  提取图片主题色
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="img-lazy-load"
                >
                  图片懒加载
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="magnifier"
                >
                  放大镜
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="deep-focus"
                >
                  交互式图片鼠标悬停景深对焦效果
                </a>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
            data-bs-toggle="collapse"
            data-bs-target="#video-collapse"
            aria-expanded="true"
          >
            视频相关
          </button>
          <div class="collapse show" id="video-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="pip"
                >
                  画中画模式
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
            data-bs-toggle="collapse"
            data-bs-target="#layout-collapse"
            aria-expanded="true"
          >
            布局相关
          </button>
          <div class="collapse show" id="layout-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="waterfall-flow"
                >
                  瀑布流
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
            data-bs-toggle="collapse"
            data-bs-target="#css-collapse"
            aria-expanded="true"
          >
            性能相关
          </button>
          <div class="collapse show" id="css-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="deep-clone"
                >
                  高性能的深拷贝
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="fonts"
                >
                  不同类型的字体
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button
            class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
            data-bs-toggle="collapse"
            data-bs-target="#canvas-collapse"
            aria-expanded="true"
          >
            Canvas 相关
          </button>
          <div class="collapse show" id="canvas-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="canvas-foundation"
                >
                  Canvas 基础绘制
                </a>
              </li>
              <!-- <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="particle-effect"
                >
                  粒子特效
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="link-dark d-inline-flex text-decoration-none rounded to"
                  data-url="mouse-interaction"
                >
                  鼠标和屏幕互动
                </a>
              </li> -->
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="content-wrap">
      <iframe
        id="content-iframe"
        src="frame-animation.html"
        frameborder="0"
        width="100%"
        height="100%"
      ></iframe>
    </div>
  </body>
</html>
