<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Stripe-background</title>
  </head>
  <body>
    <!-- 中间白色底色是伪元素 -->
    <div class='style_one'></div>

    <!-- 中间白色底色是背景色 -->
    <div class='style_two'></div>

    <!-- 径向渐变 -->
    <div class='style_three'></div>

    <!-- 内阴影 -->
    <div class='style_shadow'></div>

    <!-- outline + 伪类 -->
    <div class='style_outline'></div>
  </body>
</html>
