<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Test-align</title>
  </head>
  <body>
    <div><p><em>单行居中，多行居左<em></p></div>
      <div><p><em>单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左单行居中，多行居左<em></p></div>
  </body>
</html>
