<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Deep-focus</title>
  </head>
  <body>
    <div>请在图片上移动鼠标观看效果~</div>
    <div class="deep-focus">
      <div><img src="~@/assets/imgs/bilibili-autumn-1.png" alt=""></div>
      <div><img src="~@/assets/imgs/bilibili-autumn-2.png" alt=""></div>
      <div><img src="~@/assets/imgs/bilibili-autumn-3.png" alt=""></div>
      <div><img src="~@/assets/imgs/bilibili-autumn-4.png" alt=""></div>
      <div><img src="~@/assets/imgs/bilibili-autumn-5.png" alt=""></div>
      <div><img src="~@/assets/imgs/bilibili-autumn-6.png" alt=""></div>
    </div>
  </body>
</html>
