<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Fonts</title>
  </head>
  <body>
    <div class="fonts">
      <button id="ttf">加载TTF类型字体</button>
      <button id="otf">加载OFT类型字体</button>
      <button id="woff">加载WOFF类型字体</button>
      <button id="woff2">加载WOFF2类型字体</button>
    </div>
    <div id="ttf-content" style="text-align: left; margin-top: 20px;">
      <p>1.人生就要活得漂亮，走得铿锵。自己不奋斗，终归是摆设。无论你是谁，宁可做拼搏的失败者，也不要做安于现状的平凡人。不谈以前的艰难，只论现在的坚持。人生就像舞台，不到谢幕，永远不要认输！</p>
    </div>
    <div id="otf-content" style="text-align: left; margin-top: 20px;">
      <p>2.不要把自己活得像落难者一样，急着告诉所有人你的不幸。总有一天你会发现，酸甜苦辣要自己尝，漫漫人生要自己过，你所经历的在别人眼里都是故事，也别把所有的事都掏心掏肺的告诉别人，成长本来就是一个孤立无援的过程，你要努力强大起来，然后才能独当一面。</p>
    </div>
    <div id="woff-content" style="text-align: left; margin-top: 20px;">
      <p>3.没有任何一个男人，可以游手好闲赢得女人的欣赏。更没有任何一个女人能够好吃懒做，得到一个男人的尊重。所以，还是埋头干吧，别把时间浪费在解释上，没有委屈就没有成长。——努力到无能为力，拼搏到感动自己！</p>
    </div>
    <div id="woff2-content" style="text-align: left; margin-top: 20px;">
      <p>4.失去的，得到的，到了最后，都是我们所错过的。回来的，离开的，最后，都是我们放弃的。人生，就是磨难在枝头上，被晾晒成了坚强。你不喜欢自己的生活，然而有人在梦想着过你的生活。不管发生什么，都不要放弃，坚持走下去，肯定会有意想不到的风景。</p>
    </div>
  </body>
</html>
